<!doctype html>
<html ng-app="App" >
<head>
    <meta charset="utf-8">
    <title>ssbratings</title>
    <link rel="stylesheet" href="bootstrap.css">
    <script>document.write("<base href=\"" + document.location + "\" />");</script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script> <!-- was 1.0.2 -->
    <script src="app.js"></script>

    <link rel="stylesheet" href="chart/angular-chart.css" />
    <script src="chart/Chart.js"></script>
    <script src="chart/angular-chart.js"></script>
</head>

<body>
<header>
    <h1 class="text-center">Smash Ratings</h1>
    <h4 class="text-center">For Super Smash Sundays</h4>
</header>

<section ng-controller="TabController">
    <div class="container">
        <div class="text-center">
            <u1 class="paginationPlayerOne">
                <li ng-class="{ active: isSet(1)}">
                    <a href ng-click = "setTab(1)">Top 50</a></li>
            </u1>
            <u1 class="paginationPlayerTwo">
                <li ng-class="{ active: isSet(2)}">
                    <a href ng-click = "setTab(2)">History</a></li>
            </u1>
            <u1 class="paginationPlayerThree">
                <li ng-class="{ active: isSet(3)}">
                    <a href ng-click = "setTab(3)">Recent</a></li>
            </u1>
            <u1 class="paginationPlayerFour">
                <li ng-class="{ active: isSet(4)}">
                    <a href ng-click = "setTab(4)">About</a></li>
            </u1>
        </div>

        <div ng-controller="ListController">
            <div ng-show = "isSet(1)">
                <div class="col-md-4 pull-left">
                    <input class="form-control" type="text" placeholder="Player Tag" ng-model="searchBox">
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-md-2">Player</th>
                        <th class="col-md-1">Rating</th>
                    </tr>
                    </thead>
                    <tbody ng-controller="clickOnName">
                    <tr ng-repeat="player in data | filter:{player: searchBox} | limitTo:50">
                        <td>
                            <a href ng-click="setTab(3); setRecentSearch(player.player)">
                                {{player.player}}
                            </a>
                        </td>
                        <td>{{player.elo | NumberNoCommaFilter}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-controller="ChartController" ng-show = "isSet(2)">
                <canvas id="line" class="chart chart-line" chart-data="historiesLimited"
                        chart-labels="labels" chart-legend="true" chart-series="playerstest"
                        chart-click="onClick">
                </canvas>
            </div>

            <div ng-show="isSet(3)">
                <div class="col-md-4 pull-left">
                    <input class="form-control" type="text" placeholder="Player Tag" ng-model="recentSearch">
                </div>
                <div class="col-md-4 pull-right">
                    <input class="form-control" type="text" placeholder="Opponent Tag" ng-model="recentOpponentSearch">
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-md-4">Player</th>
                        <th class="col-md-2">Result</th>
                        <th class="col-md-2">Opponent</th>
                        <th class="col-md-1">Tournament</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in data | filter:{player : recentSearch} | limitTo:6">
                        <td>
                            <h4>
                                {{player.player}}
                            </h4>
                        </td>
                        <td>
                            <table>
                                <tr ng-repeat="p in player.recent | filter:{player2 : recentOpponentSearch} | limitTo:30">
                                    <td>
                                        {{p.score1}} - {{p.score2}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr ng-repeat="p in player.recent | filter:{player2 : recentOpponentSearch} | limitTo:30">
                                    <td>
                                        {{p.player2}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr ng-repeat="p in player.recent | filter:{player2 : recentOpponentSearch} | limitTo:30">
                                    <td>
                                        {{p.tournament}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center" ng-show="isSet(4)">
                <i>ssbratings</i> aims to provide an unbiased alternative for melee player rankings and aid in tournament seeding.
            </div>
        </div>
    </div>
</section>
</body>
<footer class="footer-divider">
    <div class="container">
        <div class="text-muted text-right footer-buffer">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            smashbrosratings@gmail.com
        </div>
    </div>
</footer>
</html>